.modal {
    &__container {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    width: 500px;
    height: 300px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, button, h1 {
    margin: 10px;
    border-radius: 5px;
}

input {
    outline: 0;
    background: #f2f2f2;
    width: 70%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    text-transform: uppercase;
    outline: 0;
    background: #4caf50;
    width: 70%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
